USE [master]
GO
/****** Object:  Database [ABHIYANTRIX PROJECT]    Script Date: 30-06-2017 04:18:23 ******/
CREATE DATABASE [ABHIYANTRIX PROJECT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ABHIYANTRIX PROJECT', FILENAME = N'D:\Visual Studio C#\SQL\MSSQL12.MSSQLSERVER\MSSQL\DATA\ABHIYANTRIX PROJECT.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ABHIYANTRIX PROJECT_log', FILENAME = N'D:\Visual Studio C#\SQL\MSSQL12.MSSQLSERVER\MSSQL\DATA\ABHIYANTRIX PROJECT_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ABHIYANTRIX PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ABHIYANTRIX PROJECT]
GO
/****** Object:  Table [dbo].[Engineers]    Script Date: 30-06-2017 04:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Engineers](
	[EID] [int] IDENTITY(1,1) NOT NULL,
	[EName] [nvarchar](50) NOT NULL,
	[EUsername] [nvarchar](50) NOT NULL,
	[EFName] [nvarchar](50) NOT NULL,
	[ESName] [nvarchar](50) NOT NULL,
	[EPhNo] [nvarchar](12) NOT NULL,
	[EQuallification] [nvarchar](max) NULL,
	[EAdhaarNo] [nvarchar](50) NOT NULL,
	[EAge] [nvarchar](3) NOT NULL,
	[EFieldofWork] [varchar](50) NOT NULL,
	[EExperience] [nvarchar](max) NOT NULL,
	[EExperienceCertif] [image] NULL,
	[EQualCertif] [image] NULL,
	[UID] [int] NOT NULL,
 CONSTRAINT [PK_Engineers] PRIMARY KEY CLUSTERED 
(
	[EID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 30-06-2017 04:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[UserEmail] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[UserType] [nvarchar](50) NOT NULL,
	[EID] [int] NULL,
	[CID] [int] NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Engineers]  WITH CHECK ADD  CONSTRAINT [FK_Engineers_Login] FOREIGN KEY([UID])
REFERENCES [dbo].[Login] ([UID])
GO
ALTER TABLE [dbo].[Engineers] CHECK CONSTRAINT [FK_Engineers_Login]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Login_Engineers] FOREIGN KEY([EID])
REFERENCES [dbo].[Engineers] ([EID])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Login_Engineers]
GO
USE [master]
GO
